- if @poll.errors.any?
  .alert.alert-error.alert-block
    %a.close{:href => '#', 'data-dismiss' => 'alert'} &times;
    %h4.alert-heading
      = pluralize(@poll.errors.count, "error")
      prohibited this poll from being saved
    %ul
      - @poll.errors.full_messages.each do |msg|
        %li= msg

%p
  Fields in
  %b bold
  are required

= form_for(@poll, :html => {:class => 'form-horizontal'}) do |f|
  .control-group
    = f.label :title, :class => 'control-label label-required'
    .controls
      = f.text_field :title

  .control-group
    = f.label :desc, 'Description', :class => 'control-label'
    .controls
      = f.text_area :desc, :rows => 5, :cols => 40

  .control-group
    %label.control-label Options
    .controls
      = f.fields_for :options do |builder|
        = render 'option_fields', :f => builder

      %p
        = link_to_add_fields f, :options do
          %i.icon-plus
          Add Option

  .form-actions
    = f.submit :class => 'btn btn-primary'